﻿@model InsiderList.Models.Email

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Email</h4>
    <hr />
    <dl class="dl-horizontal">
        

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailSubject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailSubject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailText)
        </dt>

        <dd>
            <pre>
                @Html.Raw(Model.EmailText)
            </pre>   
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailFooter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailFooter)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.ConfirmationText)
        </dt>

        <dd>
            <pre>
                @Html.Raw(Model.ConfirmationText)
            </pre>            
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsiderCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsiderCreated.Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsiderSended)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsiderSended.Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateSended)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateSended)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "EmailsList")
</p>
