﻿@model IEnumerable<InsiderList.Models.Email>

@{
    ViewBag.Title = "Emails list";
}

<h2>Emails list</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateSended)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InsiderSended)
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateSended)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsiderSended.Login)
            </td>
            <th>@if (item.Status != InsiderList.Models.EmailStatus.Sent)
            {
                @Html.ActionLink("Send", "SendEmail","Emails", new { emailId = item.Id },"");
            }
            </th>
            <td>
                @if (item.Status != InsiderList.Models.EmailStatus.Sent)
                {

                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    <span>|</span>
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                    <span>|</span>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })

                }
                else
                {
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                    <span>|</span>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                }

            </td>
        </tr>
    }

</table>
