﻿@model InsiderList.Models.Email

@{
    ViewBag.Title = "Email sending";
}

<h3>Are you sure you want to send this email?</h3>
<dl class="dl-horizontal">


    <dt>
        @Html.DisplayNameFor(model => model.Name)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>
    <br>
    <dt>
        <button type="button" class="btn btn-default" onclick="SendEmail()">Send</button>
    </dt>
    <dd></dd>
</dl>

<div>
    @Html.ActionLink("Back to List", "EmailsList")

</div>

<script>
    self.SendEmail = function () {

        $.ajax({
            method: "POST",
            url:  "@Url.Action("PostSendEmail", "Emails")",
            data:  {emailId: "@Model.Id" }
        })
        .done(function( data ) {
            window.location = "@Url.Action("EmailsList", "Emails")";
        })
        .fail(function(data){
            alert("Error");
        });
    }

</script>