﻿@model InsiderList.Models.Insider

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Insider</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthSurname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthSurname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyNameAndAddress)
        </dt>


        <dd>
            @Html.DisplayFor(model => model.CompanyNameAndAddress)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Reason)
        </dt>


        <dd>
            @Html.DisplayFor(model => model.Reason)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Function)
        </dt>


        <dd>
            @Html.DisplayFor(model => model.Function)
        </dd>


        <hr />

        <dt>
            @Html.DisplayNameFor(model => model.WorkDirectTelephoneNumber)
        </dt>        

        <dd>
            @Html.DisplayFor(model => model.WorkDirectTelephoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkMobileNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkMobileNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeTelephoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeTelephoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkDirectTelephoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkDirectTelephoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeMobileTelephoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeMobileTelephoneNumber)
        </dd>

        <hr />

        <dt>
            @Html.DisplayNameFor(model => model.AddressCountry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressCountry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressStreetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressStreetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressStreetNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressStreetNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NationalIdentificationNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NationalIdentificationNumber)
        </dd>

        <hr />

        <dt>
            @Html.DisplayNameFor(model => model.UserRegistered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserRegistered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserUpdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserUpdated)
        </dd>

        <hr />

        <dt>
            @Html.DisplayNameFor(model => model.Ceased)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ceased)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Obtained)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Obtained)
        </dd>

        
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "InsidersList")
</p>
