﻿@model InsiderList.Controllers.MemberReportViewModel

@{
    ViewBag.Title = "Email report";
}

<h2>Email report</h2>

<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            
            <label class="control-label col-md-2">Email name</label>
            <div class="col-md-10">
                @Html.DropDownList("EmailsId", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Report" class="btn btn-default" />
            </div>
        </div>
    </div>


}



