﻿@model List<InsiderList.Controllers.EmailReportViewerModel>
@{
    ViewBag.Title = "EmailReportViewer";
}

<h2>Result</h2>
<hr />

<dl class="dl-horizontal">
    <dt>
        Email name
    </dt>

    <dd>
        @ViewBag.EmailName
    </dd>
</dl>

<table class="table">
    <tr>
        <th>Insider name</th>
        <th>Status</th>
        <th>Date</th>
        <th>Ip</th>
    </tr>
    @foreach (var row in @Model)
    {
        <tr>
            <td>@row.Name</td>
            <td>@row.Status</td>
            <td>@row.Date</td>
            <td>@row.Ip</td>
        </tr>
    }
    
</table>
