﻿@model InsiderList.Controllers.MemberReportViewModel

@{
    ViewBag.Title = "MemberReport";
}

@section AdditionalScripts{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    }

<h2>Detailed member report</h2>

<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            @*@Html.LabelFor(model => model.Role, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Email name</label>
            <div class="col-md-10">
                @Html.DropDownList("EmailsId", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Role, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Status</label>
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Status, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Role, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Category</label>
            <div class="col-md-10">
                @Html.DropDownList("CategoriesId", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">

            <label class="control-label col-md-2">Date</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Report" class="btn btn-default" />
            </div>
        </div>
    </div>

   
}

<script>
    //$(document).ready(function () {
    //    var dt = new Date().toLocaleDateString();

    //    $("#Date").val(dt);
    //});

    $(function () {
        $("#Date").datepicker();
    });

</script>


