﻿@model InsiderList.Controllers.MemberReportViewerModel
@{
    ViewBag.Title = "MemberReportViewer";
}

<h2>Results</h2>

<hr />
<dl class="dl-horizontal">
    <dt>
        Name
    </dt>

    <dd>
        @Model.Name
    </dd>

    <dt>
        Status
    </dt>

    <dd>
        @Model.Status
    </dd>

    <dt>
        Category
    </dt>

    <dd>
        @Model.Category
    </dd>

    <dt>
        Date
    </dt>

    <dd>
        @Model.Date
    </dd>

    <dt>
        Insiders
    </dt>

    <dd>
        <ul>
            @foreach (var ins in Model.Insiders)
            {
                <li>@ins</li>
            }
        </ul>
    </dd>

</dl>

